<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hoangthien.hackernews">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.hoangthien.hackernews.ui.HackerNewsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hoangthien.hackernews.ui.home.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.hoangthien.hackernews.ui.videolist.VideoListActivity"/>

        <activity
            android:name="com.hoangthien.hackernews.ui.videoplayer.youtubeplayer.YoutubePlayerActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.hoangthien.hackernews.ui.videoplayer.normalvideoplayer.NormalVideoPlayerActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>